@page
@model MegaDesk_RazorPages.IndexModel

@{
    ViewData["Title"] = "View";
}

<h1>All Quotes</h1>

<div class="table-container">



    <table>
        <thead>
            <tr>
                <th>
                    <a asp-page="/Desks/View" asp-route-sortOrder="@Model.SortByName"
                       asp-route-currentNameFilter="@Model.SearchName">
                        @Html.DisplayNameFor(model => model.Desk[0].Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desk[0].Width)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desk[0].Depth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desk[0].Material)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desk[0].Drawers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desk[0].Order)
                </th>
                <th>
                    <a asp-page="/Desks/View" asp-route-sortOrder="@Model.SortByDate">
                        @Html.DisplayNameFor(model => model.Desk[0].DateOrder)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desk[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Desk)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Depth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drawers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
